body {
    margin: 0;
    background-color: #2f2f2f;
}

/* фоновая анимация */
canvas {
    display: block;
    vertical-align: bottom;
}

  /* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* страница */
.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35%;
    top: 40%;
    display: block;
    line-height: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

.headerAfterMenu {
    display: none;
}

#heading {
    color: #cacaca;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.text {
    margin-top: -10px;
    text-align: center;
    color: #cacaca;
    font-size: 20px;
}

.container {
    display: none;
}

.containerShow {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    height: 80%;
    margin-top: 100px;
    background-color: #0000;
}

.btn {
    border: none;
    color: #fff;
    padding: 20px; 
    width: 90%;
    height: 100%;
    font-size: 50px;
    margin: 20px;
    position: relative;
    cursor: pointer;
}

/*затемнение при наведении на меню*/
.btn::after {
    content: "";
    position: absolute;
    inset: -1px; /* -1px вместо 0, чтобы избежать крошечных зазоров по краям */
    --_g: conic-gradient(at 50% 25%,rgb(0 0 0/68%) 75%,#0000 0) no-repeat;
    background: 
    var(--_g) 0    calc(34%  - var(--_p,0%))/50% 400%,
    var(--_g) 100% calc(100% - var(--_p,0%))/50% 400%;
    transition: .5s linear;
}
.btn.alt::after {
    transform: scale(-1)
}
.btn:hover::after {
    --_p: 144%; /*скорость */
}

/* burger menu */
.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.nav{
    width:64px;
    height:64px;
    position: relative;
    padding: 0px;
    background-color:transparent;
    border-style:none;
    outline: none;
    cursor: pointer;
}
.nav span{
    width:100%;
    height:5px;
    background-color:#fff;
    display:block;
    border-radius: 2px;
    transition: all .5s ease;
}
.nav span:nth-child(1){
    top:0px;
    left:0px;
}
.nav span:nth-child(2){
    top:20px;
    right:0px;
}
.nav span:nth-child(3){
    top:40px;
    left:0px;
}
.nav.open span:nth-child(2){
    animation: span2 1.5s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span2{
    0%{
        transform: translate(0,0) scale(1);
    }
    20%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,0) scale(1);
    }
    40%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,0) scale(1);
    }
    50%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,18px) scale(1); 
    }
    80%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,-16px) scale(1);
    }
    100%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,100px) scale(0);
    }
}
.nav.open span:nth-child(3){
    animation: span3 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    animation-delay: .7s;
}
@keyframes span3{
    0%{
        transform: translate(0,0);
    }
    60%{
        transform: rotate(80deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(45deg) translate(-7px, -7px);
    }
}
.nav.open span:nth-child(1){
    animation: span1 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    animation-delay: 1.1s;
}
@keyframes span1{
    0%{
        transform: translate(0,0);
    }
    60%{
        transform: rotate(-110deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(-45deg) translate(-20px, 20px);
    }
}   
.nav span:nth-child(1){
    animation: span1_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span1_close {
    0%{
        transform: rotate(-45deg) translate(-20px, 20px);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}
.nav span:nth-child(2){
    animation: span2_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span2_close{
    0%{
        transform: translate(0, 40px) scale(0);
    }
    100%{
        transform: translate(0, 0) scale(1);
    }
}
.nav span:nth-child(3){
    animation: span3_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span3_close{
    0%{
        transform: rotate(45deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}


/*левое боковое меню*/
#mySidenav a {
    position: absolute;
    left: -60px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: -40px;
}

.facebook {
    top: 200px;
    background: #3B5998;
    color: white;
}

.twitter {
    top: 260px;
    background: #55ACEE;
    color: white;
}

.google {
    top: 320px;  
    background: #dd4b39;
    color: white;
}

.linkedin {
    top: 380px;
    background: #007bb5;
    color: white;
}

.youtube {
    top: 440px;
    background: #bb0000;
    color: white;
}

.github {
    top: 500px;
    background: #4f4f4f;
    color: white;
}

/* стрелки */

.arrowDiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
    margin-right: 80px;
}

.arrowText {
    display: none;
    font-size: 20px;
    color: #cacaca;
    margin-top: -35px;
    margin-right: 65px;
    position: relative;
}

button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
}

svg {
    padding: 5px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
}

/* portfolio на стрелке */
.right:hover +.arrowText {
    display: block;
}

.right:hover polyline ,
.right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}

@media all and (max-width: 800px){
    .header {
        margin-left: -10%;
        margin-top: -15%;
    }
    .arrow {
        display: none;
    }
} 



