body {
    background-color: #2f2f2f;
}

.contact_pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #cacaca;
    margin-left: 30%;
}

.header {
    padding: 5px;
    margin: 0 20;
}

.heading {
    font-size: 42px;
}

.par {
    font-size: 20px;
    line-height: 35px
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

label {
    padding: 5px;
    color: #cacaca;
    margin: 0 20;
    font-size: 20px;
}

.email {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}

.btn {
    width: 100%;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
}

.buttonSocial {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #4f4f4f;
    color: white;
}

/* Стрелки */
/*фиксация при скролинге элемента */
.scrolling-elementRight {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 7%;
}

.scrolling-elementLeft {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 3%;
}

/* текст на стрелке */
.arrowText {
    font-size: 20px;
    color: #cacaca;
    position: absolute;
}
.arrowLeftText {
    top: 10px;
    left: 70px;
    display: none;    
}
.arrowRightText {
    top: 10px;
    right: 1px;
    display: none;
}

/* текст на стрелке */
.right:hover + .arrowRightText {
    display: block;
}
.left:hover + .arrowLeftText {
    display: block;
}

.button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
}

svg {
    padding: 5px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 90px;
}

.left {
    left: 5%;
}

.right {
    left: 95%;
}

.left:hover polyline,
.left:focus polyline {
    stroke-width: 3;
}

.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}

/* кнопка назад */
.box {
    display: flex;
    justify-content: flex-start;
}

.buttonAbout, .buttonPortfolio {
    display: none;
    border-radius: 10px;
    background-color: #cacaca;
    border: none;
    color: #4f4f4f;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonAbout span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonPortfolio span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonAbout span:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 80px;
    transition: 0.5s;
}

.buttonPortfolio span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonAbout:hover span {
    padding-left: 25px;
}
.buttonPortfolio:hover span {
    padding-right: 25px;
} 

.buttonAbout:hover span:after {
    opacity: 1;
    left: 0;
}
.buttonPortfolio:hover span:after {
    opacity: 1;
    right: 0;
}


@media all and (max-width: 500px){
    .contact_pages {
        max-width: 500px;
        margin-left: 0;
    }
    .scrolling-elementRight, .scrolling-elementLeft {
        display: none;
    }
    .buttonAbout, .buttonPortfolio {
        display: inline-block;
    }
}

